# Project 1 - Mas Dhiradharana (md4204)

In [ ]:
import plotly.io as pio

pio.renderers.default = "vscode+jupyterlab+notebook_connected"

**Project Overview**

For this project, I looked at data from NYC's Department for the Aging. The dataset shows how much money was spent on different programs and services. The goal is to explore the data and find useful information about how the resources are being used.

**Data source**

The data is sourced from NYC Open Data. Hereâ€™s the link to the dataset: https://data.cityofnewyork.us/Social-Services/Department-for-the-Aging-NYC-Aging-Reported-Expend/tt8e-a9vn/about_data

**Step 1: Loading the Data**

I started by loading the CSV file into a pandas DataFrame using the pd.read_csv() function.

In [12]:
import pandas as pd

In [13]:
NYCaging = pd.read_csv("Department_for_the_Aging__NYC_Aging__-_Reported_Expenditures_20241106.csv")

**Step 2: First Look at the Data**

To understand the structure of the dataset, I used the .head() method to preview the first five rows.

In [14]:
NYCaging.head()

,ProviderType,DFTA ID,ContractYear,SponsorName,ProgramName,LineItem,LineItemName,ReportedMonth,ReportedAmount
0,ELDER ABUSE SERVICES CONTRACTS,64701,2019,WEILL MEDICAL COLLEGE OF CORNELL UNIVERSITY,Weill Cornell PROTECT,3,Personnel,Apr 2019,11707.27
1,ELDER ABUSE SERVICES CONTRACTS,64701,2019,WEILL MEDICAL COLLEGE OF CORNELL UNIVERSITY,Weill Cornell PROTECT,4,Consultants,Apr 2019,0.00
2,ELDER ABUSE SERVICES CONTRACTS,64701,2019,WEILL MEDICAL COLLEGE OF CORNELL UNIVERSITY,Weill Cornell PROTECT,5,Vehicles,Apr 2019,0.00
3,ELDER ABUSE SERVICES CONTRACTS,64701,2019,WEILL MEDICAL COLLEGE OF CORNELL UNIVERSITY,Weill Cornell PROTECT,6,Equipment Rental,Apr 2019,0.00
4,ELDER ABUSE SERVICES CONTRACTS,64701,2019,WEILL MEDICAL COLLEGE OF CORNELL UNIVERSITY,Weill Cornell PROTECT,7,Travel,Apr 2019,0.00

I also used the .info() method to understand the structure and data types of each column, as well as identify any missing values.

In [15]:
NYCaging.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72720 entries, 0 to 72719
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProviderType    72720 non-null  object
 1   DFTA ID         72720 non-null  object
 2   ContractYear    72720 non-null  int64
 3   SponsorName     72720 non-null  object
 4   ProgramName     72720 non-null  object
 5   LineItem        72720 non-null  int64
 6   LineItemName    72720 non-null  object
 7   ReportedMonth   72720 non-null  object
 8   ReportedAmount  72720 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 5.0+ MB

I also checked the unique values in the ContractYear column to determine whether the analysis corresponds to a single fiscal year or multiple years. The finding was that the data corresponds only to the year 2019.

In [16]:
NYCaging['ContractYear'].unique()

array([2019])

**Step 3.1: Compute Mean, Median, and Mode of Reported Expenditures with Pandas**

To better understand the distribution of the reported expenditures in the Department for the Aging dataset, I calculated the mean, median, and mode for the ReportedAmount column using mean(), median(), and mode() methods available in Pandas library.

In [17]:
expenditure_mean = NYCaging['ReportedAmount'].mean()
print(f"The mean is {expenditure_mean}")

The mean is 3819.8411925192213

In [18]:
expenditure_median = NYCaging['ReportedAmount'].median()
print(f"The median is {expenditure_median}")

The median is 0.0

In [19]:
expenditure_mode = NYCaging['ReportedAmount'].mode()
print(f"The mode is {expenditure_mode}")

The mode is 0    0.0
Name: ReportedAmount, dtype: float64

**Step 3.2: Compute Mean, Median, and Mode of Reported Expenditures with Python Standard Library**

In addition to using Pandas, I also calculated the mean, median, and mode for the ReportedAmount column using Python standard library.

Here are the steps for calculating the mean using Python standard library:
1. Import the CSV library to handle CSV files.
2. Open the CSV file and reads each row.
3. Add each ReportedAmount value to a list.
4. Calculate the mean of the values in that list by dividing the sum and the number of the reported amount values.
5. Display the average.

In [20]:
import csv

reported_amount=[]

with open("Department_for_the_Aging__NYC_Aging__-_Reported_Expenditures_20241106.csv") as file:
    reader = csv.DictReader(file)
    for row in reader:
        reported_amount.append(float(row['ReportedAmount']))

expenditure_mean = sum(reported_amount)/len(reported_amount)

print(f"The mean is: {expenditure_mean}")

The mean is: 3819.8411925192213

Next, I calculated the median using Python standard library with the following steps:
1. Read ReportedAmount values from the CSV file and adds them to a list.
2. Sort the list of amounts in ascending order.
3. Check if the number of values is odd or even and calculate the median.
4. Display the median amount.

In [21]:
reported_amount=[]

with open("Department_for_the_Aging__NYC_Aging__-_Reported_Expenditures_20241106.csv") as file:
    reader = csv.DictReader(file)
    for row in reader:
        reported_amount.append(float(row['ReportedAmount']))
        
    sorted_reported_amount = sorted(reported_amount)
    n = len(sorted_reported_amount)
    
if n % 2 == 1:
    expenditure_median = sorted_reported_amount[int(n/2)]
else:
    expenditure_median = sorted_reported_amount[int((((n/2)+(n/2)+1)/2))]

print(f"The median is: {expenditure_median}")

The median is: 0.0

Finally, these are the steps for calculating the mode using Python standard library:
1. Read ReportedAmount values from the CSV file and adds them to a list.
2. Convert the list to a set to get unique amounts.
3. Find the amount that appear most frequently: a) Counts how often each unique amount appears in the original list, b) Updates the mode (most common value) if a higher count is found.
6. If multiple amounts have the same highest count, store them all as modes.
7. Display the mode of ReportedAmount.

In [22]:
reported_amount=[]

with open("Department_for_the_Aging__NYC_Aging__-_Reported_Expenditures_20241106.csv") as file:
    reader = csv.DictReader(file)
    for row in reader:
        reported_amount.append(float(row['ReportedAmount']))
        
unique_amount = set(reported_amount)
maximum_count = 0
expenditure_mode = []

for amount in unique_amount:
    count_amount = reported_amount.count(amount)
    if count_amount > maximum_count:
        maximum_count = count_amount
        expenditure_mode = [amount]
    elif count_amount == maximum_count:
        expenditure_mode.append(amount)

print(f"The mode is: {expenditure_mode}")

The mode is: [0.0]

**Disclosure:** 
ChatGPT was used as a discussion partner when translating the logic and conditions into codes for generating mode with Python Standard Library.

**Step 4: Data Visualization**

To visualize the total expenditures for each line item in the dataset, I created a simple text-based sparkline representation. This approach uses Python's standard library to produce a scalable summary of expenditures by category.

Here are the steps for creating a sparkline using Python standard library:

1. Reads data from the CSV file and calculates total expenditures for each LineItemName by creating a dictionary.
2. Defines a cap at USD120 million to set a scale for sparklines, given that there is an outlier value >USD 120 million (Personnel expenditure).
3. Creates a sparkline for each line item: a) Scales the expenditure relative to the USD120 million cap. b) Ensures each line item that has value at least has one spark.
4. Displays each line item with its sparkline and total expenditure.

In [23]:
import csv

expenditurebylineitem={}

with open("Department_for_the_Aging__NYC_Aging__-_Reported_Expenditures_20241106.csv") as file:
    reader = csv.DictReader(file)
    for row in reader:
        line_item = row['LineItemName']
        reported_amount = float(row['ReportedAmount'])
        if line_item in expenditurebylineitem:
            expenditurebylineitem[line_item] += reported_amount
        else:
            expenditurebylineitem[line_item] = reported_amount

cap_expenditure = 120000000
max_sparks = 50

for line_item, total_expenditure in expenditurebylineitem.items():
    scaled_expenditure = min(total_expenditure, cap_expenditure)
    num_sparks = int((scaled_expenditure / cap_expenditure) * max_sparks)
    if total_expenditure !=0:
        num_sparks = max(num_sparks,1)
    sparkline = "*" * num_sparks 
    print(f"{line_item: <25} :{sparkline} (${total_expenditure:,.2f})")

Personnel                 :************************************************** ($173,897,464.59)
Consultants               :******** ($20,000,204.16)
Vehicles                  :* ($4,353,986.78)
Equipment Rental          :* ($662,073.68)
Travel                    :* ($1,900,157.32)
Other Occupancy           :* ($2,417,954.96)
Communications            :* ($2,528,896.25)
Printing/Supplies         :** ($5,786,099.09)
Raw Food/Disposables      :******** ($21,483,798.25)
Catered Food/Disposables  :******* ($18,358,357.21)
Program Insurance         :* ($1,613,361.68)
Other Expenses            :**** ($10,046,227.12)
Rent                      :***** ($12,785,264.43)
Utilities                 :* ($1,945,006.00)
Rent Usage Charges        : ($0.00)

**Disclosure**
ChatGPT was used as a discussion partner when translating the logic and conditions into codes for generating sparksline.